<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nagar.onlinetest">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loginpage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".faculty" />
        <activity android:name=".addtest" />
        <activity android:name=".addMcq" />
        <activity android:name=".facultylogin" />
        <activity android:name=".facultyregister" />
        <activity android:name=".studentlogin" />
        <activity android:name=".studentregister" />
        <activity android:name=".student" />
        <activity android:name=".descriptive" />
        <activity android:name=".addrules"></activity>
    </application>

</manifest>